.container_index{
    background-image: url('images/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.innerBox_index {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: white;
}

.bgimg_index{
    background-image: url('images/background1.png');
}

.box_index{
    justify-content: center;
}

.portrait_index {
    border-radius: 50%;
    height: 30vh;
    width: fit-content;
}
.contact_icons{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
/* .cont_det_box{
    position: relative;
    height: 0px;
    width: max-content;
}
a:hover .cont_det_box{
    height: max-content;
    transform: rotate(-15deg);
    transition: all 0.3s;
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
} */
.cont_det_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

#cont_det{
    z-index: 800;
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: white;
    padding: 7px;
}
